<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <%- include('../partials/_nav') %>
    <h1>Sign in</h1>
    <form action="/auth/sign-in" method="POST">
      <label for="email">Email: </label>
      <input type="text" name="email" id="email" />
      <br>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <br>
      <button type="submit">Sign in</button>
    </form>
  </body>
</html>