<%- include('../partials/_header') %>
<title>Sign In</title>

    <h1>Sign in</h1>
    <form action="/auth/sign-in" method="POST">
      <label for="email">Email: </label>
      <input type="text" name="email" id="email" />
      <br>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <br>
      <button type="submit">Sign in</button>
    </form>
    <%- include('../partials/_footer') %>