<%- include('../partials/_header') %>
<h1>list of employees</h1>
<% employees.forEach(employee => { %>
  <li>
    <a href="/employees/<%= employee._id %>">
      <%= employee.name %>
    </a>
  </li>
  <% }) %>
  
  <br>
  <a href="/employees/new">add an employee</a>
  <%- include('../partials/_footer') %>