<h2>Details of emp: </h2>
<p>salary of emp: <%= employee.salary %></p>


<form action="/employees/<%= employee._id %>/edit">
  <button>Edit</button>
</form>

<form action="/employees/<%= employee._id %>?_method=DELETE" method="post">
  <button type="submit">Delete</button>
</form>