<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img
          width="40"
          height="35"
          class="rounded-circle"
          aria-label="Bootstrap"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWKvfrQNy7NL7OmdW_h7JNH6JvsF5QQaxiDQ&s"
          alt="logo"
        />
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <% if (user) { %>
      <li><a href="/employees" class="nav-link px-2">Employees</a></li>
      <li><a href="/projects" class="nav-link px-2">Projects</a></li>
      <% } %>
      <!-- <li><a href="#" class="nav-link px-2">About</a></li> -->
    </ul>
    <div class="col-md-3 text-end">
      <% if (user) { %>
      <a href="/auth/sign-out" class="btn btn-primary" role="button"
        >Sign out</a
      >
      <% } else { %>
      <a href="/auth/sign-up" class="btn btn-primary" role="button">Sign Up</a>
      <a href="/auth/sign-in" class="btn btn-primary" role="button">Login</a>
      <% } %>
    </div>
  </header>
</div>
