<%- include('../partials/_header') %>

<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1>list of projects</h1>
    <a href="/projects/new" class="btn btn-outline-primary" role="button">add an project</a>
  </div>
  <div class="row row-cols-3">
    <% projects.forEach((project, index) => { %>
    <div class="col g-5">
      <a class="text-decoration-none" href="/projects/<%= project._id %>" >
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-secondary-emphasis">
              <%= project.projectName %>
            </h5>
            <p class="card-text text-secondary-emphasis mb-2">
            </p>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/_footer') %>
